* {
    margin: 0;
    padding: 0;
}

*::selection {
    color: #F7EEED;
    background-color: #a17071;
}

@font-face {
    font-family: "font";
    src: url(font/Neucha-Regular.ttf);
}

.img-nav {
    height: 44px;
}

.icon {
    height: 62.8px;
}

.exit {
    background-color: #F7EEED;
    color: #D1878A;
    font-size: 20px;
    font-family: "font";
    border-radius: 30px;
    outline: none;
    border: none;
    transition: ease-in-out 0.4s;
    width: 150px;
    height: 54px;
}

.quote {
    font-style: italic;
    text-align: right;
    font-size: 15px;
}

.for-new-users {
    background: #fff;
    color: #a17071;
    font-size: 24px;
    text-align: center;
    font-family: "font";
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.welcome {
    font-size: 36px;
    font-weight: 400;
}

.exit:hover {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    background-color: #9F3236;
    color: #F7EEED;
    box-shadow: 0 6px 5px 0 #9F3236, 0 1px 5px 5px #9F3236, 0 3px 5px 0 #9F3236;
    cursor: pointer; 
}

.navbar {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #D1878A;
    box-shadow: 0 13px 40px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A;
}

.navbar__wrapp {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

@media screen and (max-width: 678px) {
    .search {
        display: none !important;
    }

    .icon-tabler-user {
        display: none;
    }
}

.nav {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.icons {
    width: 54px;
    height: 54px;
}

.mini {
    width: 50px;
    height: 50px; 
}

.search {
    width: 337px;
    height: 54px;
    background-color: rgba(247, 238, 237, 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
}

.search__text {
    font-family: "font";
    font-size: 24px;
    background-color: rgba(247, 238, 237, 0.5);
    border: none;
    outline: none;
    height: 54px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #D1878A;
}

*::placeholder {
    /*color: rgba(140, 108, 110, 0.5);*/
    color: #D1878A;
    opacity: 0.6;
}

.page {
    max-width: 1140px;
    width: 100%;
    margin: 125px auto 50px auto;
    background-color: #F7EEED;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 100%;
    height: 54px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "font";
    font-size: 18px;
    color: rgba(140, 108, 110, 1);
}

.labels {
    font-family: "font";
    padding-left: 15px;
    font-size: 20px;
    color:rgb(97, 73, 74);
    display: flex;
    gap: 10px;
}

.lovice-forms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
}

.act-but {
    width: 100%;
    height: 54px;
    background-color:#D1878A;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: "font";
    font-size: 22px;
    color: #F7EEED;
    margin-top: 10px;
    transition: ease-in-out 0.4s;
}

.act-but:hover {
    cursor: pointer;
    background-color: #F7EEED;
    color: #D1878A;
    box-shadow: 0 13px 40px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A;
    transition: ease-out 0.4s;
}

.but {
    max-width: 400px;
    width: 100%;
    height: 54px;
    background-color:#D1878A;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: "font";
    font-size: 22px;
    color: #F7EEED;
    transition: ease-in-out 0.4s; 
    
}

.navigate-list {
    margin: 125px auto 50px auto;
    max-width: 1140px;
}

.navigate-list__wrapp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #F7EEED;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    gap: 20px;
    align-items: center;   
}

.but:hover {
    cursor: pointer;
    background-color: #F7EEED;
    color: #D1878A;
    /*box-shadow: 0 14px 28px rgba(140, 108, 110, 0.5), 0 10px 10px rgba(140, 108, 110, 0.5);*/
    transition: ease-out 0.4s;
    box-shadow: 0 13px 40px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A;
}

.close {
    display: none !important;
}

.card {
    background-color: #D1878A;
    font-family: "font";
    color: #F7EEED;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
    width: 250px;
    min-height: 200px;
    max-height: 500px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 13px 40px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A;
    gap: 10px;

    /*
    0 13px 10px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A
    0 13px 40px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A
    */
}

.hidden {
    max-height: 0px;
    overflow: hidden;
    transition: overflow ease-out 1s;
    transition: max-height ease-out 1s;
}

.visible::-webkit-scrollbar {
    display: none;
}

.visible {
    overflow: auto;
    overflow:-moz-hidden-unscrollable;
    max-height: 500px;
    transition: overflow ease-out 2s;
    transition: max-height ease-out 2s;
}

.card:hover {
    cursor: pointer;
}

.any-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.to-main {
    margin-top: 20px;
}

.card-but {
    width: 90px !important;
    height: 40px !important;
    background-color: #F7EEED !important;
    color: #D1878A !important;
}

.card-but:hover {
    background-color:#D1878A !important;
    color:#F7EEED !important; 
    box-shadow: 0px 0px 0 #F7EEED, 0 4px 5px 1px #F7EEED, 0 2px 1px 0 #F7EEED !important;
}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.club {
    font-size: 36px;
    align-items: center;
}

.adres {
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 36px;
}

.about {
    height: 300px !important;
    padding-top: 30px !important;
    resize: none;
}

.gender {
    display: flex;
    padding: 10px 0 10px 0 !important;
}

.radio {
    width: 15px;
    height: 15px;
}

.delete {
    width: 300px !important;
    height: 54px !important;
    font-size: 24px !important;
}

.about-any {
    position: absolute;
    z-index: 3;
    width: auto;
    top: 40px;
    background-color: #F7EEED;
    border-radius: 30px;
}

.last-chance {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.delete-buts {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.hello-user {
    font-family: "font";
    font-size: 36px;
    font-weight: 500;
    color: #D1878A;
    text-align: center;
}

.profile-photo {
    max-width: 300px;
    padding: 15px 0 0 15px;
}

.img {
    width: 100%;
}

.for-error-message {
    background-color: #9F3236;
    border-radius: 30px;
    font-family: "font";
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7EEED;
    min-height: 54px;
    padding: 15px;
    box-sizing: border-box;
}

.tools-close {
    display: none !important;
}

.admin-tools, .user-tools {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.admins-pages, .users-pages, .archive-pages {
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.del-but {
    width: 100% !important;
}

.caption {
    font-family: "font";
    font-size: 48px;
    color: #F7EEED;
    line-height: normal;
    margin-top: 10px;
}

.catalog-page-cards {
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.catalog-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-card {
    border-radius: 30px;
    background-color: #D1878A;
    width: 200px;
    min-height: 300px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0 13px 40px 0 #D1878A, 0 13px 40px 5px #fff, 0 3px 5px 0 #D1878A;
}

.user-info {
    background-color: #fff;
    font-family: "font";
    color: #a17071;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.user-info::-webkit-scrollbar {
    display: none;
}

.big {
    border-radius: 20px;
    height: 110px;
}

#to-profile-from-search {
    margin-top: 20px;
}

.user-but {
    width: 160px;
    height: 46px;
    /*border-radius: 30px;*/
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.4s;
    /*color:rgb(97, 73, 74);*/
    font-family: "font";
    font-size: 18px;
    border-radius: 30px;
}

.search-clubs, .search-users, .search-services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.search-item {
    background-color: #fff !important;
    font-family: "font";
    font-size: 24px;
    border-radius: 30px;
    color: #D1878A;
    padding: 20px;
    box-sizing: border-box;
    min-height: 120px;
}

.search-l {
    margin-top: 20px;
}

.s-u {
    margin-bottom: 20px;
}

.adres-search {
    width: 175px;
}

.adm-but {
    width: 300%;
}

.adm {
    width: 290px;
}

.adm-l {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px !important;
    font-weight: 500;
}

.for-adm {
    width: 250px !important;
}

.user-buts {
    display: flex;
    gap: 5px;
}

.likes {
    max-width: 46px;
}

.dis {
    background-color:#9F3236;
    color: #F7EEED;
}

.dis:hover {
    box-shadow: 0 3px 20px 0 #9F3236, 0 3px 7px 2px #9F3236, 0 9px 5px 0 #9F3236;
}

.like {
    background-color: rgba(208, 255, 161, 1)
    ;
    color: rgba(140, 108, 110, 1);
}

.like:hover {
    box-shadow: 0 3px 20px 0 rgb(208 255 161), 0 3px 7px 2px rgb(208 255 161), 0 9px 5px 0 rgb(208 255 161);
}

.user-but:hover {
    /*box-shadow: 0 14px 28px rgba(140, 108, 110, 0.5), 0 10px 10px rgba(140, 108, 110, 0.5);*/
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.profile-information {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    align-items: center;
    box-sizing: border-box;
    min-width: 900px;
}

.profile-text {
    font-family: "font";
    font-size: 24px;
    color: #D1878A;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    min-width: none;
}

.profile-photo {
    border-radius: 30px;
    background-color: #F7EEED;
}

.main-info {
    font-weight: 600;
}

.red {
    background-color:#9F3236 !important;
}

.red:hover {
    background-color: #F7EEED !important;
    color: #9F3236;
    box-shadow: 0 13px 40px 0 #9F3236, 0 13px 40px 5px #fff, 0 3px 5px 0 #9F3236 !important;
}

.bottom {
    margin-top: 20px;
}

.contract-form {
    max-width: 700px !important;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: #F7EEED;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#D1878A;
  }

  .person__wrapp {
      display: flex;
      justify-content: center;
  }
  
  *::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);*/
    border-radius: 10px;
    background-color: #f9f9fd;
  }

.list {
    max-height: 300px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    box-sizing: border-box;
    border: #fff solid 5px;
    border-radius: 19px !important;
}

.name-form {
    width: 100px;
}

.desc-form {
    width: 300px;
}

.adres-form {
    width: 75px;
}

.add-serv {
    width: 30px !important;
    height: 30px !important;
    outline: none;
}

.item {
    width: 675px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
    border-radius: 30px;
    height: 100px;
    background-color: #F7EEED;
    padding: 15px;
    box-sizing: border-box;
}

.for-message {
    background-color: rgba(208, 255, 161, 1)
    ;
    color:rgb(97, 73, 74);
    border-radius: 30px;
    height: 54px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "font";
    display: flex;
    align-items: center;
    justify-content: center;
}

#to-profile-from-alls {
    margin-top: 40px;
}